* {
    margin: 0;
    padding: 0;
}
body{
    background-color:#4caf50 ;
}

/* nevigation bar  */
.navbar {
    font-family: "Baloo 2", cursive;
    display: flex;
    position: sticky;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    z-index: 100;
    width: 100vw;
    top: 0;
    margin: 0;
    padding-top: 2px;
    align-items: center;
    
}

.navbar img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.logo {
    margin: 3px 10px;
}

.navbar ul {
    list-style: none;
}

.navbar ul li {
    font-size: 1.3rem;
}

.nav {
    display: flex;
}

.navbar ul li a {
    display: block;
    text-decoration: none;
    padding: 4px 31px;
    margin: 2px 3px;
    color: white;
}

.navbar ul li a:hover {
    background-color: white;
    border-radius: 24px;
    color: black;
}

/* home page */

.home::before {
    content: "";
    position: absolute;
    background: url("2jpg") no-repeat center center/cover transparent;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: pixelated;
    image-rendering: auto;
    -ms-interpolation-mode: nearest-neighbor;
    height: fit-content;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -100;
    opacity: 0.89;
}

.home {
    font-family: "Bree Serif", serif;
    display: flex;
    flex-direction: column;
    margin: 60px auto;
    margin-top: 75px;
    align-items: center;
    justify-content: center;
}

.home h1 {
    font-size: 3.5rem;
    text-align: center;
    padding: 12px 26px;
    margin: 11px;
    color: rgb(231, 7, 7);
}

.btn {
    font-family: "Baloo 2", cursive;
    padding: 0px 33px;
    margin: 26px 35px;
    border-radius: 13px;
    border: 2px solid white;
    background-color: #2e1717;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all 0.5s ease;
}

.btn:hover {
    background-color: white;
    color: black;
    transform: scale(1.2) perspective(1px)
}

.btn:active{
    transform: scale(0.9) perspective(1px)
}

/* index.html */
.service-container{
    width: 100vw;
}
.service-container h1 {
    font-family: "Bree Serif", serif;
    font-size: 3.5rem;
    text-align: center;
}

.services {
    display: flex;
    max-width: 100vw;
}

/* box */
#box {
    background-color: #d4ffd0;
    border: 2px solid black;
    border-radius: 24px;
    display: block;
    margin: 50px auto;
    width: 30vw;
    height: fit-content;
    text-align: center;
    padding: 25px 8px;
}

#box img {
    width: 221px;
    height: 144px;
    border-radius: 42%;
}

#box h2 {
    font-family: "Bree Serif", serif;
    font-size: 2.5rem;
}

#box p {
    font-family: "Baloo 2", cursive;
    margin: 8px 10px;
}

/* next page */
#box10 {
    background-color: #d4ffd0;
    border: 2px solid black;
    border-radius: 24px;
    display: block;
    margin: auto;
    height: fit-content;
    text-align: center;
    margin: 50px 6px;
    padding: 25px 8px;
}

#box10 img {
    width: 221px;
    height: 144px;
    border-radius: 42%;
}

#box10 h2 {
    font-family: "Bree Serif", serif;
    font-size: 2.5rem;
}

#box10 p {
    font-family: "Baloo 2", cursive;
    margin: 8px 10px;
}

/* about  */
.column {
    float: left;
    width: fit-content;
    min-width: 33vw;
    margin-bottom: 16px;
    padding: 0 8px;
}

/* about  */
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}

/* about  */
.about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

/* about */
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

/* about  */
.button:hover {
    background-color: #555;
}

/* contact and input  */
input[type="text"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
/* contact and input  */
input[type="submit"] {
    background-color: #4caf50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s ease;
}
/* contact and input  */
input[type="submit"]:hover {
    background-color: white;
    color: black;
    transform: scale(1.2) perspective(1px)
}

/* input */
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

/* result */
#outputs{
    background-color: #d4ffd0;
    border: 2px solid black;
    border-radius: 24px;
    display: block;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    width: fit-content;
    height: max-content;
    padding: 25px 20px;
    justify-content: space-evenly;
}

/* result */
#outputHead{
    justify-content: space-between;
    width: 80vw;
}
#outputTable{
    justify-content: space-between;
    width: 80vw;
}
td{
    width: 20vw;
    text-align: center;
}
/* input  */
#box11 {
    background-color: #d4ffd0;
    border: 2px solid black;
    border-radius: 24px;
    display: block;
    height: fit-content;
    width: 50vw;
    text-align: center;
    margin: 50px auto;
    padding: 50px 50px;
    font-size: 25px;
}

/* contact */
.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

/* Categories */
.Categories {
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(126, 0, 6);
    border-radius: 24px;
    display: block;
    margin: auto;
    height: fit-content;
    width: 95vw;
    text-align: center;
    padding: 25px 8px;
    font-size: 40px;
    color: #fd0983;
}

/*for mobiles*/
@media screen and (max-width: 600px) {
    .navbar img {
        height: 55px;
        width: 55px;
        border-radius: 50%;
    }
    
    .logo {
        margin: 3px;
        padding: 10px;
    }
    .navbar ul li {
        font-size: 0.9rem;
    }
    .navbar ul li a {
        padding: 4px 3px;
        margin: 2px 3px;
    }
    .home h1 {
        font-size: 3rem;
        text-align: center;
        padding: 1px 26px;
        margin: 0px;
    }
    #outputHead{
        font-size: small;
    }
    td{
        font-size: small;
        border: 1px solid black;
    }
    .btn{
        margin: 10px auto;
    }
    .services{
        flex-direction: column;
    }
    #box{
        width: 80vw;
        margin: 25px auto;
    }
    .Categories{
        width: 90vw;
    }
}
